@import 'normalize';
@import 'veriables';
@import 'mixins';

*{
    box-sizing: border-box;
}
a, button{
    transition: all .3s ease-in-out;
}

html{
    font-size: 10px;
    scroll-behavior: smooth;
}

body{
    font: 400 1.4rem $text-ff;
    @include media(576px) {
        font-size: 1.1rem;
    }
}
.container{
    max-width: 1110px;
    margin: 0px auto;
}
h1{
    font-size: 11.2rem;
    max-width: 900px;
    line-height: 1.2;
    @include media(992px) {
        font-size: 9.4rem;
    }
    @include media(576px) {
        font-size: 5.4rem;        
    }
}
h2{
    font-size: 4.8rem;
    font-weight: 700;
    max-width: 600px;
    margin-top: 100px;
    @include media(992px) {
        font-size: 4.4rem;
    }
    @include media(576px) {
        font-size: 3rem;
    }
}
.caption{
    font-family: $tittle-ff;
    &--center{
        margin: 100px auto;
        margin-bottom: 50px;
        @include media(992px) {
            margin: 0 auto;
        }
    }
}
header{
    display: flex;
    justify-content: space-between;
    @include media(992px) {
        flex-direction: column;
    }
}
.logo{
    margin: 10px;
}
.nav{
    display: flex;
    justify-content: center;
    @include media(992px) {
        flex-direction: column;

    }
    &__items{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        @include media(992px) {
            padding: 0;
        }
    }
    &__item{
        margin: 10px;
        border-bottom: 1px solid transparent;
        @include hover{
            border-bottom: 1px solid $secondary-color;
            transition: all .5s ease-in-out;
        }
    }
    &__a{
        color: $secondary-color;
        text-decoration: none;
    }
}
.search{
    margin: 5px;
}
.btns{
    background-color: $primery-color;
    color: $btn-txt-color;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px 40px;
    display: inline-block;
    @include media(768px) {
        
        margin: 10px;
    }
    @include hover{
        background-color: transparent;
        color: $secondary-color;
        text-decoration: underline; 
    }
    &--header{
        margin: 5px 10px;
        padding: 20px;
    }
    &--in{
        background-color: transparent;
        color: $secondary-color;
        @include hover{
            background-color: $primery-color;
            color: $btn-txt-color;
            text-decoration: underline; 
        }
    }
    &--ttu{
        text-transform: uppercase;
        text-align: center;
        margin: 55px auto;
        display: block;
        width: 210px;
        padding: 20px;
    }
    &--left{
        margin: 0;

    }
    &--search{
        border: none;
        outline: none;
        margin: 0 5px 0 5px;
    }
}
.header-r{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    @include media(576px) {
        flex-direction: column;
        text-align: center;
    }
}
.mod-color{
    color: $primery-color;
}

.suptext{
    display: block;
    line-height: 1.6;
    font-size: 1.6rem;
    max-width: 300px;
    margin: 10px 5px 50px 0;
    @include media(992px) {
        max-width: 45vw;
        margin: 10px;
    }
    @include media(768px) {
        max-width: 90vw;
        margin: 10px;
    }
}
.cap-img{
    width: 60%;
    height: 480px;
    overflow: hidden;
    margin: 0 0 0 30px;
    @include media(992px) {
        width: 50%;
        margin: 10px;
        height: 360px;
    }
    @include media(768px) {
        width: 100%;
        margin: 10px;
    }
    img{
        width: 100%;
    }
    
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &--supcaption{
        margin: 0 auto;
    }
    &--col{
        margin-bottom: 30px;
    }
    &--slider{
        margin-left: 140px;
    }
  
}
.arrows{
    &--bottom{
        display: inline-block;
    }
    &--top{
        margin: 180px 0 0 0;
        @include media(992px) {
            margin: 0;
        }
    }
}
.arrow{
    margin: 10px 0 0 10px;
    fill: $primery-color;
    cursor: pointer;
    @include hover{
        fill: #000;
    }
    &--rigth{
        transform: rotate(180deg);
    }
}
.sliders{
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    @include media(992px) {
        justify-content: space-around;        
    }
    
    &__item{
        margin: 5px;
        overflow: hidden;
        height: 435px;
        &__item img{
            width: 100%;
        }
    }
}
.imges{
    overflow: hidden;
    img{
        width: 100%;
    }
}
.supcaption{
    display: block;
    max-width: 305px;
    margin: 10px;
    &--text{
        font-weight: 700;
    }
}
.svg{
    margin-right: 50px;
    @include media(992px) {
        margin-right: 25px;        
    }
    @include media(576px) {
        margin: 10px auto;        
    }
}
.article{
    font-size: 3.2rem;
    line-height: 1.5;
    font-weight: 300;
    display: flex;
    margin: 50px 0 70px;
    @include media(576px) {
        font-size: 2.2rem;
        margin: 5px;
    }
    &::before{
        content: "“";
        color: $primery-color;
        font-size: 15rem;
        margin-right: 70px;
        line-height: 1;
        font-family: $tittle-ff;
        @include media(768px) {
            margin-right: 10px;
        }
    }
}
.name{
    display: inline-block;
    &--fw{
        font-weight: 700;

    }
}
.quotes{
    margin-left: 180px;
    max-width: 900px;
    @include media(768px) {
        margin-left: 10px;
        
    }
}
.bg{
    background-image: url(../img/img.png);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    position: relative;
}
.position{
    position: absolute;
    top: 20%;
    left: 50%;
    @include media(576px) {
        position: static;
        margin: 5px;
        
    }
}
.partners{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 60px 0;
    @include media(992px) {
        justify-content: center;
                
    }
    &__item{
        margin: 5px;
        img{
            width: 100%;
         
        }
    }
}
.about{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    &__item{
        margin: 20px;
    }
    &__item a{
        text-decoration: none;
        color: $secondary-color;
    }
}

.find-text{
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 2px solid $primery-color;
    &:active{
        outline: none;
    }
}

#find-name{
    display: none;
}

#find-name ~ #find-text{
    transition: all .3s ease-in-out;
    width: 150px;
}

#find-name:checked ~ #find-text{
    transform: scale(0);
    width: 1px;
    transition: all .3s ease-in-out;
    
}
#find-name:checked ~ #btns-search{
    transform: scale(0);
    transition: all .3s ease-in-out;
}
